/* variables */

/* colors from Flat UI Pro http://designmodo.com/flat/ */
$brand-alizarin:        #E74C3C;
$brand-turquoise:       #1abc9c;
$brand-green:           #75CE66;
$brand-petermann:       #3498DB;
$brand-pomegranate:     #C0392B;
$brand-midnight:        #2C3E50;

$text-color:            $brand-midnight;

/* external */

@import "bootstrap";

/* fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-top: 70px;
}

.navbar-brand {
  font-weight: 700;
}

.table-filter {
  margin-left: 10px;
  margin-bottom: 0;
}

table th a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.page-header {
  position: relative;

  h1, h2, h3 {
    margin: 0;
    padding: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.max-height {
  max-height: 300px;
}

.table-hover {
  cursor: pointer;
}